*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}
/* top bar menu */
    .top-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #000;
        color: #FFF;
        font-family: arial;
        font-weight: bold;
        height: 48px;
        line-height: 48px;
    }
    .top-bar ul{
        display: flex;
        flex-direction: row;
        height: 50px;
    }
    .top-bar li{
        list-style-type: none;
        padding-right: 25px;
    }
    .top-bar li a{
        text-decoration: none;
        color: #FFF;
    }
    .top-bar li a:hover{
        color:#EA0206;
    }
    .fb a:hover{
        color:#3B5998 !important;
    }
    .tw a:hover{
        color:#9AE4E8 !important;
    }
    .inst a:hover{
        color:#3F729B !important;
    }
    .yt a:hover{
        color:#CC181E !important;
    }
    #sub-menu{
        top:50px;
        display: flex;
        flex-direction: column;
        flex-wrap: no-wrap;
        background-color: #000;
        color: #FFF;
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
        line-height: 50px;
        display: none;
        z-index: 1000;
    }
    #sub-menu li{
        flex-direction: column;
        height: 30px;
        margin-left: 5px;

    }
    .cincoLinks{
        height: 170px !important;
    }
/* mobile */
/* SETTEO DE MAPA */
#map {
        height:600px;
        width: 80%;
        margin: auto;
        z-index:2;
}
/*ARREGLOS NAV*/
.fixed{
	height: 60px;
	width: 100%;
}
/*ESTILOS BODY*/

.subtitulos{
margin: 8px 0px;
border-bottom: 4px solid #333;
}

.subtitulos h3 {
  display: inline-block;
  margin: 0;
  padding: 8px 24px;
  background: #333;
  line-height: 1;
  color:#FFF;  
}

.familia-fuente{
	font-family: 'Work Sans', sans-serif;
	font-weight: 550;
	font-size: 1.3em;
  padding: 8px 5px;
  margin-top: 5;
}

#titulo{
font-family: 'Work Sans', sans-serif;
font-weight: 700;
font-size: 2.5em;
margin-left: 1.5%;
}

p, li {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
  color: #333333;
}
.rojo{
  color: red;
}

.pie{
  height: 80px;
  background: #333;
  margin-bottom: -20px;
}
.pie img{
  margin-top: 10px;
}
.licencia-commons{
  color: #FFF;
  margin-top: 30px;
}
.commons{
  color:#FFF;
  text-decoration: none;
}
.commons:hover{
  color:#FFF;
}

/* MENU MOBILE*/
/*.mobile{
  display: none;
}*/
#mySidenav{
  font-size: 1em;
}
#contenido{
  transition: margin-left .5s;
  padding: 16px;
}
.closebtn{
  height:60px;
  width: 100%;
  background-color: #000;
  border-bottom: 2px solid #EA0000;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
      /* scroll bar */
     .sidenav::-webkit-scrollbar {
          width: 12px;
      }
       
      .sidenav::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
          border-radius: 10px;
      }
       
      .sidenav::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
      }


.sidenav a {
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.top-menu, .main-menu {
  margin-left: 20px;
}
.menu-mobile h3, .main-menu h3 {
  text-decoration:  underline #EA0000;

  color: #FFF;
}
.sidenav li{
  list-style-type: none;
  color:#ECECF0;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    /*font-size: 36px;
    margin-left: 50px;*/
}

/*ARREGLO HEADINGS INFOMAP*/

.infoTitle h1{
	font-size: 18px;
}
.infoTitle h3{
	font-size: 16px;
}
.infoTitle p{
	font-size: 14px;
}

/* MEDIAS */
@media (max-width: 700px) {
  #map{
    height: 400px;
  }
}
@media (max-width: 500px) {
  #map{
    height: 300px;
    width: 100%;
  }
}

