*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}
body{
  position:relative;
}
/* MENU MOBILE*/
.menu-mobile li button, .main-menu li button{
  background-color: transparent;
  border: none;
}
.fa-chevron-down{
  color:#EA0000;
}
.mobile-bar{
  display: none;
  height: 100%;
  top: 0;
  background-color: #000;
  color: #FFF;
}
.sub-nosotros-mobile, .sub-genero-mobile, .sub-programas-mobile{
  display:none;
}
.nosotrosmobile, .generomobile, .programasmobile{
  display: inline;
}
.btn-menu{
  font-size:30px;
  cursor:pointer;
}
.hamburger{
  color: #FFF;
  margin-left: 15px;
  
}
.span-ham{
  font-size:1.5em;
  cursor:pointer;
}
#mySidenav{
  font-size: 1em;
  position: fixed;
  z-index: 1000;
}
.closebtn{
  height: 47px;
  width: 100%;
  background-color: #000;
  border-bottom: 2px solid #EA0000;
}
.flecha{
  font-size: 14px !important;
  margin-top: 5px!important;
}
.underline{
  display: inline !important;
}
.underline:hover{
  cursor: pointer;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

.sidenav a {
    padding: 8px 8px 8px 25px;
    text-decoration: none !important;
    font-size: 1.5em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.top-menu, .main-menu {
  margin-left: 20px;
}
.menu-mobile h3, .main-menu h3 {
  text-decoration:  underline #EA0000;
  color: #FFF;
  margin-top: -10px;
  margin-left: 5px;
  font-size: 1.5em !important;
}
.sidenav li{
  list-style-type: none;
  color:#ECECF0;
}
.sidenav .closebtn {
    position: absolute !important;
    top: -15px;
    right: 0px;
    /*font-size: 36px;
    margin-left: 50px;*/
}
/* top bar menu */
    .top-bar {
        display: inline;
        width: 100%;
        background-color: #000;
        color: #FFF;
        font-family: arial;
        font-weight: bold;
        height: 50px;
        line-height: 45px;
        z-index: 3;
        top: -30px;
        padding-top: 5px;
        align-content: center;
        position: absolute!important;
    }
    .top-bar ul{
        display: flex;
        flex-direction: row;
        height: 50px;
        flex: none;
        position:absolute;
    }
    .top-bar li{
        list-style-type: none;
        padding-right: 20px;
        flex: none
    }
    .top-bar li a{
        text-decoration: none;
        color: #FFF;
        flex: none
    }
    .top-bar li a:hover{
        color:#EA0206;
    }
    .fb{
      margin-left: 350px;
    }
    .fb a:hover{
        color:#3B5998 !important;
    }
    .tw a:hover{
        color:#9AE4E8 !important;
    }
    .inst a:hover{
        color:#3F729B !important;
    }
    .yt a:hover{
        color:#CC181E !important;
    }

    #sub-menu{
        display: none;
        background-color: #000;
        color: #FFF;
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
        z-index: 1000;   
    }
    #sub-menu li{
      height: 25px;       
    }
    #sub-menu li a{
      padding-left: 0 !important;
      margin-left: 2px!important; 
      padding-bottom: 5px; 
    }
    .cincoLinks{
       height: 140px !important;
        z-index: 1000!important;
        border-top: 2px solid #CC181E !important;
    }
    .generosub{
      border-top: 2px solid #CC181E !important;
      align-self: center;
      height: 50px !important;
    }
/* SETTEO DE MAPA */
#map {
        height:600px;
        width: 80%;
        margin: auto;
        z-index:2;
}
/*ARREGLOS NAV*/
.fixed{
	height: 60px;
	width: 100%;
}
/*ESTILOS BODY*/
#contenido{
  z-index: 1;
  margin-top: 25px;
  position:relative;
  transition: margin-left .5s;
  padding: 16px;
}
#contenido ul{
  display: block!important;
  position:static !important;
  height:initial !important;
  
}
#contenido li {
  list-style-type: disc !important;
}
#contenido li ul li {
  list-style-type: circle !important;
}

.subtitulos{
margin: 8px 0px;
border-bottom: 4px solid #333;
}

.subtitulos h3 {
  display: inline-block;
  margin: 0;
  padding: 8px 24px;
  background: #333;
  line-height: 1;
  color:#FFF;  
}

.familia-fuente{
	font-family: 'Work Sans', sans-serif;
	font-weight: 550 !important;
	font-size: 1.3em!important;
  padding: 8px 5px !important;
  margin-top: 5;
}

#titulo{
font-family: 'Work Sans', sans-serif;
font-weight: 700;
font-size: 2.5em;
margin-left: 1.5%;
z-index:0;
color: #333!important;
}

#contenido p, #contenido li {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
  color: #333333;
  font-weight: normal;
}
.rojo{
  color: red;
}
/* footer */
.arreglo-footer{
  margin-bottom: 70px;
}
footer{
  height: 80px;
  width: 100%;
  background: #333;
  margin-bottom: -20px;
  position: absolute;
  right: -50px!important;
  bottom: 0;
  left: 0;
  margin-left: 0 !important;
}
.pie img{
  margin-top: 10px;
}
.licencia-commons{
  color: #FFF!important;
  margin-top: 30px;
  font-weight: normal;
  text-align: right;
}
.commons{
  color:#FFF;
  text-decoration: none;
  font-weight: normal;
}
.commons:hover{
  color:#FFF;
}


/*ARREGLO HEADINGS INFOMAP*/

.infoTitle h1{
	font-size: 18px;
}
.infoTitle h3{
	font-size: 16px;
}
.infoTitle p{
	font-size: 14px;
}

/* MEDIAS */
@media (max-width: 1305px) {
  .fb{
      margin-left: 250px;
    }
}
@media (max-width: 1205px) {
  .fb{
      margin-left: 150px;
    }
}
@media (max-width: 1105px) {
  .fb{
      margin-left: 50px;
    }
}
@media (max-width: 1105px) {
  .top-bar{
    display: none;
  }
  .mobile-bar{
    display: block;
  }
  #titulo{
    margin-top: -15px;
  }
}
@media (max-width: 768px) {
  footer{
    height: 100px;
    bottom: 0;
  }
  .pie img{
    margin: 0 auto !important;
    padding-top: 5px;
  }
  .licencia-commons{
    margin-top: 5px;
    text-align: center !important;
  }
}
@media (max-width: 700px) {
  #map{
    height: 400px;
  }
}
@media (max-width: 572px) {
  footer{
    height: 120px;
    bottom: 0;
  }
  .arreglo-footer{
    margin-bottom: 100px;
  }
}
@media (max-width: 500px) {
  #map{
    height: 300px;
    width: 100%;
  }
}
@media (max-width: 427px) {
  #titulo{
    font-weight: 500;
    font-size: 2.5em;
    margin-left: -15px;
  }
}

